# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
CHEC_PUBLIC_KEY=pk_18284d21d9556df9724f62393397dfbdac18a4d458879
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_API_URL=https://api.chec.io
CHEC_SECRET_KEY=
NODE_ENV=
